@model List<ResultCompanyDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Şirket Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Şirketlerle ilgili işlemleri bu sayfa üzerinden yapabilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>İsim</th>
                                        <th>Değerleme</th>
                                        <th>Katılım Tarihi</th>
                                        <th>Sektör</th>
                                        <th>Şehir</th>
                                        <th>Ülke</th>
                                        <th>Kıta</th>
                                        <th>Kuruluş Yılı</th>
                                        <th>Finansman</th>
                                        <th>Seçili Yatırımcılar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Name</td>
                                            <td>@item.Valuation</td>
                                            <td>@item.DateJoined.ToString("yyyy-MM-dd")</td>
                                            <td>@item.Industry</td>
                                            <td>@item.City</td>
                                            <td>@item.Country</td>
                                            <td>@item.Continent</td>
                                            <td>@item.YearFounded</td>
                                            <td>@item.Funding</td>
                                            <td>@item.Investors</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminCompany/CreateCompany/" class="btn btn-outline-primary">Yeni Şirket Girişi</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->

        </div>

        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>