@model List<ResultCompanyDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<div class="container">
    <h1>UNICORNS</h1>
    <p>Şirketlerle ilgili işlemleri bu sayfa üzerinden yapabilirsiniz.</p>

    <table id="companyTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Ad</th>
                <th>Değerleme</th>
                @* <th>Katılım Tarihi</th> *@
                <th>Sektör</th>
                @* <th>Şehir</th> *@
                <th>Ülke</th>
                @* <th>Kıta</th> *@
                <th>Kuruluş Yılı</th>
                @* <th>Finansman</th> *@
                <th>Detaylar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>@company.Id</td>
                    <td>@company.Name</td>
                    <td>@company.Valuation</td>
                    @* <td>@company.DateJoined.ToShortDateString()</td> *@
                    <td>@company.Industry</td>
                    @* <td>@company.City</td> *@
                    <td>@company.Country</td>
                    @* <td>@company.Continent</td> *@
                    <td>@company.YearFounded</td>
                    @* <td>@company.Funding</td> *@
                    <td>
                        <a href="@Url.Action("CompanyDetail", "Company", new { id = company.Id })" class="btn btn-outline-dark btn-sm">Detaylar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#companyTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json"
                }
            });
        });
    </script>

}

